.header {
    border: 5px dashed black;
}
.header h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 52px;
    color: black;
}

/* .appDiv {
    overflow-y: scroll;
} */

/* .articlesList {
    overflow-y: scroll;
    height: 100%;
} */